body {
	
}

#header {
	text-align: center;
	color: white;
	font-family: 'Diplomata', cursive;

}

#start {
	padding: 20px;
	margin-left: 80px;
	color:red;
	border-color: red;
	background-color: white;
	font-size: 16px;
}

#question {
	text-indent: 10px;
	color: red;
	text-align: center;
}

#timer {
	color:red;
}

#pic {
	margin-left: 80px;
	width: 500px;
	height: 300px;
}

#answers {
	margin-left: 512px;
}